body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.event-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  margin: 40px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.custom-calendar {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  color: #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.custom-calendar .react-calendar__tile--active {
  background-color: #4caf50 !important;
  color: white !important;
  border-radius: 5px;
}

.custom-calendar .react-calendar__tile {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 5px;
  position: relative;
}

.custom-calendar .react-calendar__tile:hover {
  background-color: #f0f0f0;
}

.custom-calendar .react-calendar__month-view__days{
    display: flex;
    flex-wrap: wrap;
    margin-left: 6px;
    column-gap: 5px;
}

.custom-calendar .react-calendar__month-view__weekdays {
  background-color: #4caf50;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.event-form,
.event-list {
  margin-top: 20px;
  width: 100%;
}

.event-form input,
.event-form button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.event-form input {
  margin-right: 10px;
  width: 70%;
}

.event-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.event-form button:hover {
  background-color: #45a049;
}

.event-list ul {
  list-style: none;
  padding: 0;
}

.event-list li {
  background: #f9f9f9;
  color: #333;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.edit-form {
  margin-top: 10px;
}

.edit-form input,
.edit-form button {
  padding: 8px;
  margin: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.edit-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.edit-form button:hover {
  background-color: #45a049;
}

.event-marker {
  background-color: rgba(76, 175, 80, 0.8);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 26px;
  right: 28px;
}


i{
  color: #090606; 
  width: 24px; 
  height: 24px; 
  cursor: pointer; 
  transition: 0.3s ease; 
}

#delete-icon:hover {
  color: #ff5252; 
  transform: scale(1.1);
}

#edit-icon:hover {
  color: #52ff6c; 
  transform: scale(1.1);
}

.custom-calendar .react-calendar__month-view__days__day--weekend {
    color: #190a0a;
}

.custom-calendar .react-calendar__month-view__days__day--neighboringMonth{
  color:#75757542
}